<h3>Transparency International Slovensko</h3>

<p>
  Bajkalská 25<br>
  827 18 Bratislava<br>
  Slovenská republika<br>
</p>

<p>
  e-mail: <a href="mailto:%74%69%73@%74%72%61%6e%73%70%61%72%65%6e%63%79.%73%6b">tis@transparency.sk</a>
  <br>
  web: <a href="https://transparency.sk" target="_blank">transparency.sk</a>
</p>

<p>
  <a class="btn btn-secondary" href="mailto:%6b%6f%6e%74%61%6b%74@%6f%74%76%6f%72%65%6e%65%73%75%64%79.%73%6b">
    kontakt@otvorenesudy.sk
  </a>
</p>
