<h2>&copy; 2013-<%= Date.current.year %> Transparency International Slovensko</h2>

<p>Autori konceptu: Transparency International Slovensko</p>

Zdrojový kód: <%= link_to 'OTVORENÁ PROKURATÚRA @ GitHub', 'https://github.com/otvorenesudy/otvorenesudy-prokuratura' %>

<p>Toto dielo, vrátane softvéru, zdrojového kódu, dokumentov, alebo iných
súvisiacich položiek, poskytujú držitelia autorských práv podľa podmienok
uvedených v <%= link_to 'Educational Community Lincese 1.0', 'http://opensource.org/licenses/ecl1.php' %>.
Nadobudnutím, používaním a / alebo kopírovaním tohto diela, prejavujete
súhlas s tým, že ste si prečítali a pochopili podmienky licencie a budete
konať v súlade s nimi.</p>

<h2>Educational Community License 1.0</h2>

<p>Povolenie na použitie, kopírovanie, upravovanie, zlučovanie, publikovanie,
distribuovanie a sublicencovanie tohto pôvodného diela a jeho dokumentácie,
s modifikáciou alebo bez nej, na akýkoľvek účel, bez poplatku pre držiteľa
autorských práv, je týmto udelené za predpokladu, že uvediete nasledovné
položky vo všetkých ďalších zhotoveninách diela, ich častiach, úpravách
alebo derivátoch, ktoré vytvoríte: </p>

<p>
  <ul>
    <li>plné znenie Educational Community License na mieste viditeľnom pre používateľov odvodených diel alebo derivátov,</li>
    <li>oznámenia o všetkom už existujúcom duševnom vlastníctve vrátane súvisiacich podmienok,</li>
    <li>oznámenie o akýchkoľvek zmenách alebo úpravách originálneho diela, vrátane dátumu, kedy boli zmeny vykonané.</li>
  </ul>
</p>

<p>Akékoľvek zmeny pôvodného diela musia byť distribuované takým spôsobom,
aby nedochádzalo k zámene s pôvodnou prácou držiteľov autorských práv.</p>

<p>Softvér je poskytovaný bez akejkoľvek záruky, výslovnej alebo vyplývajúcej
z kontextu, vrátane obchodných záruk, záruky vhodnosti pre konkrétny účel,
neporušovania iných práv a iných záruk. V žiadnom prípade autori alebo
držitelia autorských práv nenesú zodpovednosť za škody a nemožno si u nich
nárokovať náhrady škôd, ktoré vyplynuli v súvislosti so softvérom a jeho
používaním alebo iným nakladaním s ním.</p>

<p>Názov a ochranné známky autorských práv nemožno použiť v reklame ani inak
na zabezpečenie publicity v súvislosti s originálom alebo derivátmi bez
špecifického predchádzajúceho písomného súhlasu. Nárok na autorské práva
pôvodného diela a všetkých súvisiacich dokumentov ostáva bez časového
obmedzenia na strane držiteľov autorských práv.</p>
