<h2>Chyba na stránke</h2>

<p>Všetky chyby, ktoré nastanú pravidelne monitorujme. No ani my nie sme neomylní a môže sa stať, že nám niečo ušlo. V prípade, že ste chybu našli, neváhajte a napíšte nám čo najpresnejší popis, ako ku chybe došlo a ako sa prejavila. E-mailom nám túto informáciu zašlite na doleuvedenú adresu.</p>

<h2>Chyba v dátach</h2>

<p>Ak ste našli chybu v dátach, ktoré sú na stránke zverejnené, tak ju nahláste na nižšie uvedený e-mail. Chyby v dátach sú vo všeobecnosti náročnejšie na opravu – dáta mohli byť totiž chybné už predtým ako sme ich získali a spracovali, no mohlo sa stať, že sme niečo pokazili aj my.</p>

<p>
  <a class="btn btn-secondary" href="mailto:%6b%6f%6e%74%61%6b%74@%6f%74%76%6f%72%65%6e%65%73%75%64%79.%73%6b">
    kontakt@otvorenesudy.sk
  </a>
</p>

<p>Samozrejme sa snažíme, aby chýb bolo čo najmenej a za všetky Vaše postrehy Vám vopred ďakujeme.</p>
