<h2>Prevádzkovatelia</h2>

<p>Prokuratura.OtvoreneSudy.sk (ďalej ako „portál“) sú nezisková investigatívna webová stránka, slúžiaca na monitoring, prepájanie, analýzu a zvýšenie prehľadnosti informácií o slovenskej prokuratúre.</p>

<p>Prevádzkovateľom portálu je občianske združenie Transparency International Slovensko (ďalej „TIS“) a Samuel Molnár. Projekt OTVORENÁ PROKURATÚRA vznikol vďaka podpore Fondu pre transparentné Slovensko <%= link_to "Nadácie Pontis", "https://www.nadaciapontis.sk", target: :_blank %>, Veľvyslanectva Holandského kráľovstva na Slovensku a Veľvyslanectva Kanady v Slovenskej republike.</p>

<h2>Základné pravidlá</h2>

<p>Portál umožňuje vyhľadávať, čítať a preberať zverejnené informácie o prokurátoroch, prokuratúrach a štatistikách. Všetky informácie pochádzajú z verejne dostupných zdrojov – webového sídla a štatistík poskytnutých Generálnou prokuratúrou SR. Informácie preto nepodliehajú režimu utajenia, ani ochrane pred zverejnením a následným šírením.</p>

<p>Pre riade využívanie portálu nie je nevyhnutná registrácia, ani poskytnutie akýchkoľvek dát prevádzkovateľovi. Používanie portálu je bezodplatné. Výhodou registrácie je možnosť odoberať upozornenia o nových dátach podľa zvolených filtrov vyhľadávania.</p>

<p>Registrovaný používateľ je pri registrácii povinný uviesť e-mail, na ktorom ho môžu prevádzkovatelia v prípade potreby kontaktovať. Prevádzkovatelia sa zaväzujú, že budú používateľa na registračnom e-maili kontaktovať iba pre prípad zaslania informácií o nových funkcionalitách na portáli alebo o informáciách súvisiacich s portálom. Prevádzkovatelia nebudú registrovaným užívateľom zasielať nevyžiadanú poštu. Prihlásený používateľ sa môže <%= link_to 'prihlásiť na odber noviniek', 'http://eepurl.com/doWD8X', target: :_blank %> od TIS, čím vyjadruje svoj explicitný súhlas na zasielanie noviniek (newsletter) o činnosti TIS.</p>

<h2>Zdroje dát</h2>

<p>Všetky dáta sú verejne dostupné a pochádzajú od Generálnej prokuratúry SR, a to formou zverejnenia na webovom sídle Generálnej prokuratúry SR alebo prostredníctvom sprístupnenia informácií na základe žiadosti.</p>

<p>Dáta sa získavajú automatickým sťahovaním z verejne dostupných internetových stránok v podobe, v akej boli pôvodne zverejnené alebo poskytnuté inštitúciami. Vo väčšine prípadov sú priamo odkazované na pôvodný zdroj. V prípadoch zjavných chýb boli dáta upravované a normalizované.</p>

<h2>Vyhlásenie</h2>

<p>Prevádzkovatelia nepreberajú právnu zodpovednosť za obsah, podobu, správnosť zverejnených dát alebo ich neustálu dostupnosť. Používateľ berie na vedomie skutočnosť, že zverejnené dáta môžu obsahovať chyby spôsobené spracovaním veľkého množstva údajov ako aj chyby spôsobené pri tvorbe pôvodných dát. Voči prevádzkovateľom nie je možné vyvodiť zodpovednosť za prípadné škody, ktoré by používateľovi portálu vznikli jeho používaním či okolnosťami, ktoré súvisia s vyhľadávaním dát alebo ich kvalitou. Prevádzkovatelia môžu robiť na portáli funkčné a obsahové zmeny, ako napr. pridávanie alebo odoberanie dátových zdrojov, bez upozornenia používateľov a podľa vlastného uváženia.</p>
