<ul class="facet-list" data-target="suggest.results">
  <% if values.each do |city, count| %>
    <li class="facet-item">
      <%= link_to offices_path(search_params(params, city: city)), class: "facet-link#{' active' if search_param?(params, :city, city)}" do %>
        <%= city %>
        <span class="facet-tag"><%= count %></span>
      <% end %>
    </li>
  <% end.empty? %>
    <li class="facet-item">
      <span class="text-muted"><%= t 'offices.index.search.city.not_found' %></span>
    </li>
  <% end %>
</ul>
