<ul class="facet-list" data-target="suggest.results">
  <% if values.each do |name, count| %>
    <li class="facet-item">
      <%= link_to statistics_path(search_params(params, office: name)), class: "facet-link#{' active' if search_param?(params, :office, name)}" do %>
        <%= name %>
        <span class="facet-tag"><%= count %></span>
      <% end %>
    </li>
  <% end.empty? %>
    <li class="facet-item">
      <span class="text-muted"><%= t 'statistics.index.search.office.not_found' %></span>
    </li>
  <% end %>
</ul>
