default: &default
  adapter: postgresql
  pool: 30
  timeout: 100
  encoding: unicode
  host: localhost
  username: postgres
  password: postgres

development:
  <<: *default
  database: opencourts_prokuratura_development

test:
  <<: *default
  database: opencourts_prokuratura_test

production:
  <<: *default
  database: opencourts_prokuratura_production
