name: CI & CD

on: [push]

env:
  RAILS_ENV: test
  CI: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run RSpec

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: opencourts_prokuratura_test
        ports:
          - 5432:5432

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      - name: Setup credentials
        run: |
          mv config/credentials/test.ci.yml.enc config/credentials/test.yml.enc
          mv config/credentials/test.ci.key config/credentials/test.key

      - name: Install required packages
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libpq-dev libcurl4 libcurl4-openssl-dev ghostscript

      - name: Read Ruby version
        id: read-ruby-version
        run: echo "RUBY_VERSION=$(cat .ruby-version)" >> $GITHUB_OUTPUT

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "${{ steps.read-ruby-version.outputs.RUBY_VERSION }}"
          bundler-cache: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install Yarn dependencies
        run: yarn install

      - name: Setup database
        run: |
          bin/rails db:create db:schema:load
          bin/rails db:test:load_schema

      - name: Run RSpec
        run: bin/rspec

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/.resultset.json
          fail_ci_if_error: true
          verbose: true

  deploy:
    name: Deploy to Production
    needs: [test]
    if: github.ref == 'refs/heads/main'

    runs-on: ubuntu-latest

    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: github-actions
          known_hosts: "..."
          config: |
            host ${{ secrets.SSH_HOST }}
              IdentityFile ~/.ssh/github-actions
              IdentitiesOnly yes
              ForwardAgent yes

      - name: Adding known hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }}

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.0
          bundler-cache: true

      - name: Deploy
        run: |
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/github-actions
          bundle exec cap production deploy deploy:restart sidekiq:restart
